# Dependencies
node_modules/
server/venv/

# Test coverage
coverage/

# Database
*.db

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
venv/
__pycache__/
